@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
      --primary: 207.66 100% 32.75%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 208.5 100.0% 50.0%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 204 50% 0%;
    --foreground: 204 25% 97%;
    --muted: 204 29% 12%;
    --muted-foreground: 204 4% 67%;
    --popover: 204 50% 0%;
    --popover-foreground: 204 25% 97%;
    --card: 0 0% 1%;
    --card-foreground: 204 25% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 207.66 100% 32.75%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 18% 14%;
    --secondary-foreground: 204 18% 74%;
    --accent: 204 25% 19%;
    --accent-foreground: 204 25% 79%;
    --destructive: 15 94% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 207.66 100% 32.75%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }